@import "mocha.css";

* {
  border:               none;
  border-radius:        0;
  font-family:          DejaVuSansM Nerd Font;
  font-size:            14px;
  box-shadow:           none;
  text-shadow:          none;
  transition-duration:  0s;
}

#waybar {
  background: alpha(@bg, 1);
  color: @text;
  margin: 0px 0px;
}


#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-left: 1rem;
}

#workspaces button {
  color: @ws;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @wsa;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @wsh;
  border-radius: 1rem;
}

#custom-weather {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  margin-left: 1rem;
  color: @weather;
}

#tray {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
}

#window {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @tile;
}

/* middle */

#clock {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-left: 1rem;
  color: @clock;
}

/* right */
#pulseaudio {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @pulseaudio;
}

#network {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @network;
}

#custom-cpu {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @cpu;
}

#custom-gpu {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @gpu;
}

#memory {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @memory;
}

#custom-storage {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @storage;
}

#idle_inhibitor {
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg-modules;
  margin-right: 1rem;
  color: @idle;
}